.light {
	--text: rgba(14 34 51 / 87%);
	--text-title: #0e2233;
	--text-link: #0074a4;
	--text-link-menu: #0074a4;
	--text-link-disabled: rgb(41 143 214 / 34%);
	--text-button: #fff;
	--bg-primary: #f3f5f4;
	--bg-secondary: #e8e8e8;
	--bg-menu: #fff;
	--bg-box: #fff;
	--shadow: rgba(0 0 0 / 30%)
}

.dark {
	--text: rgba(255 255 255 / 87%);
	--text-title: #fff;
	--text-link: #03dac6;
	--text-link-menu: #fff;
	--text-button: #000;
	--bg-primary: #121212;
	--bg-secondary: #282828;
}

.blue {
	--text: rgb(214, 210, 196);
	--text-title: #e2e2e2;
	--text-link: #ecb365;
	--text-link-menu: rgba(255 255 255 / 87%);
	--text-button: #060608;
	--bg-primary: #04293a;
	--bg-secondary: #063a52;
}

.sepia {
	--text: #463225;
	--text-title: #000;
	--text-link: #ad3809;
	--text-button: #fff;
	--bg-primary: #c9a787;
	--bg-secondary: #dbc4b0;
	--bg-menu: #a47146;
	--bg-box: #dbc4b0;
	--shadow: rgba(0 0 0 / 30%)
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff'),
        url('/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff'),
        url('/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
}

#prison main { font-size: var(--fontSize) }

#content .text-content a:not(.text-button) { color: var(--text-link) }

aside a,
header button:not(:disabled) { color: var(--text-link-menu) }

header button:disabled { color: var(--text-link-disabled) }

p, ol, ul { line-height: 1.5 }

main ul:not(.grid) li:not(.inline-block) + li:not(.inline-block) { margin-top: 1rem }

p { margin-bottom: 0 }

button,
a { cursor: pointer }

.button {
	display: inline-block;
	padding: 1rem 2rem;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 1rem;
	border: 0;
	font-size: 1rem;
	font-weight: 700
}

.button:not(:hover){
	color: var(--text-button);
	background-color: var(--text-link)
}

.button:hover {
	color: var(--bg-primary);
	background-color: var(--text)
}

svg { fill: var(--text-link-menu) }

@media screen and (min-width: 680px) {
	main,
	nav,
	#hero {
		width: calc(100vw - 56px);
		height: 100vh;
	}
}
@media screen and (max-width: 680px) {
	main,
	nav,
	#hero {
		width: 100vw;
		height: calc(100vh - 56px);
	}
}